.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.game-list{
    background-color: rgb(205, 228, 246);
    padding-top: 30px;
    padding-left: 20px;
    margin-right: 20px;
}

.game-cart{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
}

.game-break{
}